.todo-container {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #FAA;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-left: 8px;
  padding: 8px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f9fa;
  margin-top: 8px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

li.completed {
  text-decoration: line-through;
  color: #6c757d;
}

li button {
  background: #d5cacb;
}
